

/*Animated Gradient Bars (Top/Bottom) - Thanks to .þsϵυdø.þrø×϶n#0007 for the ideaa*/
body {
    padding-top: 2px;
    animation: rainbow-rgb-bg 7s ease-in-out infinite;
      backdrop-filter: blur(1px) brightness(0.5);   
 }
 
 #app-mount {
    height: calc(100% - 6px);
 }

@keyframes rainbow-rgb {
    from {color: #6666ff;}
    10%  {color: #0099ff;}
    50%  {color: #00ff00;}
    75%  {color: #ff3399;}
    100% {color: #6666ff;}
}
@keyframes rainbow-rgb-bg {
    from {background-color: #6666ff;}
    10% {background-color: #0099ff;}
    50% {background-color: #00ff00;}
    75% {background-color: #ff3399;}
    100% {background-color: #6666ff;}
}

.nameTag-2IFDfL, .nameTag-m8r81H, .username-2b1r56, .username-3gJmXY, .discriminator-xUhQkU, .headerTagNoNickname-ENx6no, .headerTag-2pZJzA, .size14-3iUx6q, .size16-14cGz5, .nameTag-m8r81H {
    animation: rainbow-rgb 10s ease-in-out infinite; 
   }   

/* BOTTOM LEFT MODAL RGB*/
.powercord-spotify .spotify-seek-bar-progress {
    animation: rainbow-rgb-bg 10s ease-in-out infinite; 
}

.title-eS5yk3, .button-14-BFJ, .subtext-3CDbHg, .customStatus-3tC2ig, .hovered-d5PMVU, .usernameContainer-1fp4nu .title-eS5yk3, .powercord-spotify .spotify-buttons .contents-18-Yxp, .button-38aScr {
    animation: rainbow-rgb 10s ease-in-out infinite;
}

/* CHAT SIDEBAR */
.header-2o-2hj, .arrow-gKvcEx, .icon-WnO6o2, .addButtonIcon-3u-3Hu, .icon-1_QxNX, .button-38aScr, .overflow-WK9Ogt, .overflow-WK9Ogt, .name-IbjUBS, .close-relY5R, .message-3SOT5P, .usernameFont-aFalyR, .icon-3BcwQu, .flowerStar-1GeTsn, .button-1w5pas{
    animation: rainbow-rgb 10s ease-in-out infinite;
}
.unread-3zKkbm, .liveSmall-1dy2uA{
    animation: rainbow-rgb-bg 10s ease-in-out infinite;
}

/* SERVER SIDEBAR */
.wrapper-25eVIn, .da-childWrapper, .icon-3s6X1M, .circleIcon-LvPL6c, .circleIconButton-jET_ig {
    animation: rainbow-rgb 10s ease-in-out infinite;
}
 .guildSeparator-3s64Iy, .active-1SSsBb, .item-2hkk8m, .numberBadge-2s8kKX {
    animation: rainbow-rgb-bg 10s ease-in-out infinite;
}

/*CHAT*/
.anchorUnderlineOnHover-2ESHQB, .content-1o0f9g, .username-1A8OIy, .icon-2uw6mp {
    animation: rainbow-rgb 10s ease-in-out infinite;
}

/*CHAT TITLE BAR*/ 
.icon-22AiRD, .icon-22AiRD, .size16-1P40sf, .topic-TCb_qw, .strikethrough-3Wiitd {
    animation: rainbow-rgb 10s ease-in-out infinite; }
.divider-3FBTu8{
animation: rainbow-rgb-bg 10s ease-in-out infinite;
}

/*SETTINGS*/
.themed-OHr7kt, .size14-e6ZScH  {
    animation: rainbow-rgb 10s ease-in-out infinite;
}

/* BETTER DISCORD TABS */
.ui-form-title {
    animation: rainbow-rgb 10s ease-in-out infinite;
}

/* MEMBER LIST*/
.membersGroup-v9BXpm, .roleColor-rz2vM0, .icon-15YQ1T, .activityText-yGKsKm, .icon-1A2_vz{
    animation: rainbow-rgb 10s ease-in-out infinite;
}

/*TEXT INPUT AREA*/
.contents-18-Yxp, .attachButtonPlay-3iJ0mf{
    animation: rainbow-rgb 10s ease-in-out infinite;
}

/* NEW MESSAGES TAB TEXT*/
 .barButtonBase-2uLO1z {
    animation: rainbow-rgb 10s ease-in-out infinite;
}

/* SEARCH */
.da-icon, .public-DraftEditorPlaceholder-root, .public-DraftEditorPlaceholder-hasFocus, .public-DraftStyleDefault-block {
    animation: rainbow-rgb 10s ease-in-out infinite;
}

/* BOT BADGE */
 .da-botTag, .botTag{
    animation: rainbow-rgb-bg 10s ease-in-out infinite;
}

/* EMBED TEXT */
 .embedFieldName-NFrena, .embedFooterText-28V_Wb, .downloadButton-23tKQp{
    animation: rainbow-rgb 10s ease-in-out infinite;
}

/* POPOUTS */
.iconContainer-2-XQPY, .label-22pbtT, .button-1ZiXG9, .attachPopoutRow-3iqqu1, .alignCenter-1dQNNs, .textarea-2r0oV8, .protip-YaFfgO, .inputDefault-_djjkz, .iconContainer-bxm35Z, .witchIcon-_4Efyi, .wumpusTooltip-65YlMT{
    animation: rainbow-rgb 10s ease-in-out infinite;
}

/* SHORTCUT HELP MENU */
 .da-modalSubtitle, .da-content,  .da-keybindDescription  {
    animation: rainbow-rgb 10s ease-in-out infinite;
}

/*CHANNEL/CATEGORY SETTINGS*/
.keybind-KpFkfr, .tools-3-3s-N, .container-1sFeqf, .closeButton-1tv5uR, .header-2RyJ0Y {
    animation: rainbow-rgb 10s ease-in-out infinite;
}
.separator-gCa7yv, .divider-3573oO{
    animation: rainbow-rgb-bg 10s ease-in-out infinite;
}


/* FIX RGB DESYNC WITH THESE */
 /*.numberBadge-2s8kKX, .base-PmTxvP,*/ .actionIcon-2Hi9ZG {
    animation: rainbow-rgb 10s ease-in-out infinite;
}

/*FIX ME*/
.unreadPillCapStroke-7rkHbg, .unreadPill-2HyYtt,   .divider-3_HH5L, .beforeGroup-1rH1F0, .divider-JfaTT5, .isUnread-3Ef-o9, .new-messages-bar{
    animation: rainbow-rgb-bg 10s ease-in-out infinite;
}
