/*Animated Gradient Bars (Top/Bottom) - Thanks to .þsϵυdø.þrø×϶n#0007 for the idea*/
body {
    padding-top: 2px;
    animation: rainbow-rgb-bg 7s ease-in-out infinite;
      backdrop-filter: blur(1px) brightness(0.5);   
 }
 
 #app-mount {
    height: calc(100% - 6px);
 }

@keyframes rainbow-rgb {
    from {color: #6666ff;}
    10%  {color: #0099ff;}
    50%  {color: #00ff00;}
    75%  {color: #ff3399;}
    100% {color: #6666ff;}
}

@keyframes rainbow-rgb-bg {
    from {background-color: #6666ff;}
    10% {background-color: #0099ff;}
    50% {background-color: #00ff00;}
    75% {background-color: #ff3399;}
    100% {background-color: #6666ff;}
}

/*ACTIVITY SCREEN KEPT OFF FOR NOW UNTIL FINISHED
.linkButtonIcon-Mlm5d6, .closeIcon-rycxaQ, .icon-35-fSh {
    animation: rainbow-rgb 10s ease-in-out infinite;
}*/

/* BOTTOM LEFT MODAL RGB*/
.powercord-spotify .spotify-seek-bar-progress {
    animation: rainbow-rgb-bg 10s ease-in-out infinite; 
}

.usernameContainer-1fp4nu .title-eS5yk3, .powercord-spotify .spotify-buttons, .contents-18-Yxp {
    animation: rainbow-rgb 10s ease-in-out infinite;
}

/* CHAT SIDEBAR */
 .arrow-gKvcEx, .icon-WnO6o2, .addButtonIcon-3u-3Hu, .icon-1_QxNX, .button-38aScr, .close-relY5R, .flowerStar-1GeTsn, .button-1w5pas, .wrapper-pZmgj4{
    animation: rainbow-rgb 10s ease-in-out infinite;
}
.unread-3zKkbm, .liveSmall-1dy2uA{
    animation: rainbow-rgb-bg 10s ease-in-out infinite;
}

/* SERVER SIDEBAR */
.wrapper-25eVIn, .da-childWrapper, .icon-3s6X1M, .circleIcon-LvPL6c, .circleIconButton-jET_ig {
    animation: rainbow-rgb 10s ease-in-out infinite;
}
 .guildSeparator-3s64Iy, .active-1SSsBb, .item-2hkk8m, .numberBadge-2s8kKX {
    animation: rainbow-rgb-bg 10s ease-in-out infinite;
}

/*CHAT*/
.icon-2uw6mp{
    animation: rainbow-rgb 10s ease-in-out infinite;
}
  .divider-3_HH5L, .blockquoteDivider-2hH8H6, .botTag-2WPJ74 {
    animation: rainbow-rgb-bg 10s ease-in-out infinite;
}

/*CHAT TITLE BAR*/ 
.icon-22AiRD, .icon-22AiRD,  .strikethrough-3Wiitd {
    animation: rainbow-rgb 10s ease-in-out infinite; }
.divider-3FBTu8{
animation: rainbow-rgb-bg 10s ease-in-out infinite;
}

/*SETTINGS*/
 {
    animation: rainbow-rgb 10s ease-in-out infinite;
}

/* MEMBER LIST*/
 .icon-15YQ1T, .icon-1A2_vz{
    animation: rainbow-rgb 10s ease-in-out infinite;
}

/*TEXT INPUT AREA*/
.contents-18-Yxp, .attachButtonPlay-3iJ0mf{
    animation: rainbow-rgb 10s ease-in-out infinite;
}

/* NEW MESSAGES TAB TEXT*/
 .barButtonBase-2uLO1z {
    animation: rainbow-rgb 10s ease-in-out infinite;
}

/* SEARCH */
.public-DraftEditorPlaceholder-root, .public-DraftEditorPlaceholder-hasFocus, .public-DraftStyleDefault-block {
    animation: rainbow-rgb 10s ease-in-out infinite;
}

/* BOT BADGE */
 .da-botTag, .botTag{
    animation: rainbow-rgb-bg 10s ease-in-out infinite;
}

/* EMBED TEXT */
.downloadButton-23tKQp{
    animation: rainbow-rgb 10s ease-in-out infinite;
}

/* POPOUTS */
.iconContainer-2-XQPY, .button-1ZiXG9, .icon-LYJorE, .additionalActionsIcon-1FoUlE, .connectedAccountOpenIcon-2cNbq5 {
    animation: rainbow-rgb 10s ease-in-out infinite;
}
.barInner-3NDaY_{
    animation: rainbow-rgb-bg 10s ease-in-out infinite;
}

/* SHORTCUT HELP MENU */
 .da-modalSubtitle{
    animation: rainbow-rgb 10s ease-in-out infinite;
}

/*CHANNEL/CATEGORY SETTINGS*/

.separator-gCa7yv, .divider-3573oO{
    animation: rainbow-rgb-bg 10s ease-in-out infinite;
}

/*AUDIOVIZ POWERCORD SUPPORT*/
.vp-audioviz-bar {
    animation: rainbow-rgb-bg 10s ease-in-out infinite;
}

/* FIX RGB DESYNC WITH THESE */
 /*.numberBadge-2s8kKX, .base-PmTxvP, .actionIcon-2Hi9ZG {
    animation: rainbow-rgb 10s ease-in-out infinite;
}*/




